*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(/images/pattern-bg.svg);
    background-position: right 47.5%;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-image: url(images/pattern-curve.svg);
    background-position:  left bottom;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 120vh;
    padding-bottom: 2em;
}

.text-container {
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 25% 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 60%;
    z-index: 2;
    margin-left: 7.5%;
}

.img-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 50%;
    margin-right: 7.5%;
}

img {
    border-radius: 7.5px;
}

button {
    background-color: white;
    width: 3.5em;
    padding: 1em;
    padding-bottom: 0.75em;
    border: none;
}

button:hover {
    cursor: pointer;
}

.btn-container {
    position: absolute;
    top: 94.5%;
    left: 15%;
    display: flex;
    border-radius: 50px;
    box-shadow: -20px 10px 50px -15px hsl(240, 16%, 48%), 20px 10px 50px -15px hsl(240, 16%, 48%);
}

.prev {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.next {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

p {
    color: hsl(240, 38%, 20%);
    font-weight: 300;
}

.person {
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.name {
    font-size: 25px;
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}

.title {
    color: hsl(240, 18%, 77%);
    font-size: 25px;
    font-weight: 500;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 1s;
}

.hide {
    visibility: hidden;
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 600px) {

    body {
        font-size: 22px;
        background-size: 87%;
        background-position: 50% 2%;
    }

    main {
        width: 100%;
        background-size: 70%;
    }

    .container {
        position: absolute;
    }

    .img-container {
        position: relative;
        top: 0;
        left: 50%;
        width: 100%;
        margin: 2em 0 2.5em 0;
        transform: translate(-65%, 0%);
        z-index: 1;
    }

    img {
      max-width: 135%;
    }

    .btn-container {
        position: absolute;
        left: 75%;
        transform: translateX(-75%);
    }

    button {
        margin: -1px;
    }

    .btn-container img {
        width: 12.5px;
        height: auto;
    }

    .text-container {
        position: static;
        background-position: center top;
        background-size: 30%;
        max-width: 100%;
        margin: 0 2em;
        padding-top: 0.5em;
        padding-bottom: 1em;
        z-index: 1;
        transform: translateY(0%);
        text-align: center;
    }

    .person {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    .name, .title {
        margin: 0;
        font-size: 20px;
    }

    .attribution {
        display: none;
    }
}